@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e) no-repeat center;
    font-family: 'Raleway', sans-serif;
}


.container{
    width: 500px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(6px);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    padding: 20px;
}

h1,
h3 {
    margin-bottom: 20px;
    font-weight: normal;
    color: white;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.male {
    border: 5px solid steelblue;
    background-color: steelblue;
}

.female {
    border: 5px solid pink;
    background-color: pink;
    color: white;
}

button {
    cursor: pointer;
    background-color: green;
    color: white;
    font-size: 18px;
    border: 0;

    width: 200px;
    height: 50px;
}

button:focus {
    outline: none;
}

button:hover {
    transform: scale(0.99);
}

@media (max-width: 768px){
    .container{
        width: 350px;
        height: 400px;

    }
}